body{
    top:0;
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    border:0;
    padding:0;
    height:100%;
    max-height:100%;
    font-family:arial,verdana,sans-serif;
    font-size:1em;
    background:#999
}

h1{
    border:0;
    border-width:0;
    padding:5px;
    background:#33F;
    color:#fff;
    font-size:150%
}

h2{
    display:box;
    padding:5px;
    background:#77F;
    color:#fff;
    font-size:150%
}

.box{
    margin-left:200px;
    margin-right:0;
    top:0;
    margin-top:0;
    border:0;
    padding:20px;
    height:100%;
    max-height:100%;
    background:#fff
}

.header{
    color:#fff;
    background-color:#333;
    font-size:200%;
    padding:3px 19px;
    text-align:left
}

.examplebox{
    padding:5px;
    border:solid;
    background:#FFF;
    border-color:red;
    border-width:thin
}

.yellowbox{
    padding:5px;
    border:solid;
    background:#FF0;
    border-color:red;
    border-width:2px
}

.container{
    margin-top:15px;
    margin-left:15px;
    float:left
}

.canvasboxstyle:-moz-full-screen{
    display:flex;
    align-items:center;
    justify-content:center
}

.canvasboxstyle:fullscreen{
    display:flex;
    align-items:center;
    justify-content:center
}

.canvasboxstyle:-webkit-full-screen{
    display:flex;
    align-items:center;
    justify-content:center
}

.canvasboxstyle:-ms-full-screen{
    display:flex;
    align-items:center;
    justify-content:center
}

.menu{
    width:12em;
    margin-bottom:1em;
    padding:1em 1.5em;
    font-size:70%;
    background-color:#FB6;
    border:1px solid #300;
    white-space:normal
}

.main{
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    padding:1em 1.5em;
    max-width:900px;
    border:1px solid #300;
    color:#000;
    background-color:#FFF
}

table{
    border-collapse:collapse
}

th{
    background-color:#555;
    color:#fff
}

th,td{
    padding:5px
}

td{
    background-color:#fff
}

table tr:hover td{
    background:#f2f2f2
}

[type=radio]:checked,[type=radio]:not(:checked){position:absolute;left:-9999px}[type=radio]:checked+label,[type=radio]:not(:checked)+label{vertical-align:top;position:relative;padding-left:28px;cursor:pointer;line-height:20px;display:inline-block;color:#000}[type=radio]:checked+label:before,[type=radio]:not(:checked)+label:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;border:1px solid #00f;border-radius:100%;background:#fff}[type=radio]:checked+label:after,[type=radio]:not(:checked)+label:after{content:'';width:12px;height:12px;background:#00f;position:absolute;top:4px;left:4px;border-radius:100%;-webkit-transition:all .2s ease;transition:all .2s ease}[type=radio]:not(:checked)+label:after{opacity:0;-webkit-transform:scale(0);transform:scale(0)}[type=radio]:checked+label:after{opacity:1;-webkit-transform:scale(1);transform:scale(1)}input[type=checkbox].css-checkbox{position:absolute;z-index:-1000;left:-1000px;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}input[type=checkbox].css-checkbox+label.css-checklabel{padding-left:55px;height:50px;display:inline-block;line-height:50px;background-repeat:no-repeat;background-position:0 0;font-size:100%;vertical-align:middle;cursor:pointer}input[type=checkbox].css-checkbox:checked+label.css-checklabel{background-position:0 -50px}label.css-checklabel{background-image:url(http://www.mytoolkit.org/check.png);-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.mybutton{background-color:#fff;color:#00f;padding:5px;font-size:120%;border:5px solid #00f;cursor:pointer;border-radius:15px}.mybutton:disabled,.mybutton[disabled]{background-color:#fff;color:grey;padding:5px;font-size:120%;border:5px solid grey;cursor:pointer;border-radius:15px}span.ttwrapper{position:relative;display:inline-block;*position:static;*display:inline}.tt{outline:0}.tt strong{line-height:30px}.tt:hover{text-decoration:none}.tt span{z-index:10;display:none;padding:14px 20px;margin-top:-20px;margin-left:65px;line-height:16px;border-radius:4px;box-shadow:5px 5px 8px #CCC}.tt:hover span{display:inline;position:absolute;color:#111;border:1px solid #DCA;background:#fffAF0}.tttxt{z-index:20;position:absolute;top:11px;border:0;left:-12px}.rl ul{list-style:none;margin:0;padding:0}.rl li{cursor:move;padding:5px 0 5px 1em;margin:.5em;border:1px solid #00f}.rl li:before{content:"â‰¡";padding-right:1em}.slidecontainer{width:100%}.slider{-webkit-appearance:none;width:100%;height:15px;border-radius:5px;background:#d3d3d3;outline:0;opacity:.7;-webkit-transition:.2s;transition:opacity .2s}.slider::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;width:25px;height:25px;border-radius:50%;background:#00f;cursor:pointer}.slider::-moz-range-thumb{width:25px;height:25px;border-radius:50%;background:#00f;cursor:pointer}